:root{
    font-size: 17px;
}
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 8px 0;
    font-family: "Courier New";
    color: white;
}
h1{
    color: #1c1c1c;
    font-size: 6em;
    text-align: center;
    margin-bottom: 0.3em;
}
section{
    width: 550px;
    height: 1050px;
    margin: 0 auto;
    background-color: #1C1C1C;
    border-radius: 50px;
    padding: 85px 20px;
    box-shadow: 4px 4px 8px 0px rgb(41, 41, 41);
}
.screen{
    height: 100%;
}
.answer{
    height: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 24px;
}
.value{
    font-size: 8.5rem;
    font-weight: 300;
}
.input{
    padding: 10px;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    grid-gap:18px;
}
.input >*{
    font-size: 2em;
    text-decoration: none;
    color: white;
    background-color: #505050;
    border-radius: 50%;
    line-height: 3.6em;
}
.zero{
    grid-column: 1/3;
    border-radius: 100px;
    text-align: left;
    padding-left: 1.3em;
}
.clear,.dn,.rem{
    color: #1C1C1C;
    background-color: #D4D4D2;
}
.div,.multiply,.minus,.plus,.equal{
    background-color: #FF9500;
}
@media(max-width:600px){
    body{
        padding: 0;
    }
    h1{
        font-size: 4em;
        margin-bottom: 0em;
    }
    section{
        transform: scale(0.5) translateY(-400px);
    }
}